.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  width: fit-content;
  height: fit-content;

  padding: 8px;

  background-color: white;

  box-shadow: var(--shadow-4);
  border-radius: var(--radius-2);
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: whitesmoke;
  margin: 8px;

  border-radius: var(--radius-2);

  font-size: x-large;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

.cell:hover {
  box-shadow: var(--shadow-3);
}

.cell:active {
  box-shadow: var(--shadow-2);
}

.loading {

}